.Rhistory
.Rproj.user
/data/itineraries_details*
/data/rio_h3*
/data/rio_res_8
/data/temp
/data/temp_itineraries_list.rds
/img
/otp
/python
/r5
/results
animated_map.gif
frame_14864.png
full_animation.mp4
msc-thesis.Rproj
r_project.Rproj
