.Rhistory
.Rproj.user
/data/itineraries_details*
/data/rio_h3*
/data/rio_fixed_*/
/data/rio_no_inter_res_6/
/data/rio_no_inter_res_8/accessibility/
/data/rio_no_inter_res_8/itineraries/
/data/rio_old/
/data/rio_res_*/
/data/temp
/data/temp_itineraries_list.rds
/img
/otp
/python
/r5
/results
Thumbs.db
animated_map.gif
frame_14864.png
full_animation.mp4
msc-thesis.Rproj
r_project.Rproj
